body {
    background-color: black; 
    color:darkgray;
    width: 50%; 
    margin: auto;
    text-align: center;
}

.correct_input {
    /* padding: 15px 10px; */
    line-height: 10px;
    width: 5%;
    font-size: xx-large;
    text-align: center;
}
.found_input {
    /* padding: 15px 10px; */
    line-height: 10px;
    width: 20%;
    font-size: xx-large;
    text-align: center;
}
.grid_container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    /* grid-template-columns: fit-content(40%) fit-content(40%) 4fr; */
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    background-color: bisque;
}

.menu {
    grid-column: 1;
    grid-row: 1;
    /* border: 1px solid black; */
}

.data_table {
    /* background-color: blue; */
    grid-column: 2;
    grid-row: 1;
}

.input {
    padding: 5px;
    border: 1px solid black;
    width: 100%;
}
.submit_button {
    background-color:darkgray   ; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
}